*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/developer-tools.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/vcs.xml
/app/src/androidTest/java/com/ysproduction/freedium/ExampleInstrumentedTest.kt
/app/src/test/java/com/ysproduction/freedium/ExampleUnitTest.kt
